{% extends "layout.html" %}

{% block content %}
<div style="margin-bottom:10px;">
    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>
    </div>
    <div>
        <p>
            I did this project as a high school student. I used the Pands library inside Python. I used Jupiter to examine the database to find the appropriate rows and columns in the database
        </p>
        <p> The datasets of this project are about climate change and population growth. to see them click on data</p>
    </div>
    {% endblock %}
