{% extends "layout.html" %}
{% block content %}
<div dir="rtl">
    <div class="Jumbotron">
        <h1> קובץ מידע פליטת גזי חממה</h1>
        <p> הקובץ הזה הוא קובץ csv אשר מציג את פליטות גזי החממה של חברי מדינות ה OECD מ 1990-2017 הקובץ מציג גם כמה מדינות שאינן חברות בארגון כגון סין</p>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> שם שדה </th>
                <th> הסבר </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td> מדינה</td>
                <td> על איזה מדינה מדובר בשורה</td>
            </tr>

            <tr>
                <td> שנה</td>
                <td> על איזה שנה מדובר בשורה</td>

            </tr>
            <tr>
                <td> ערך</td>
                <td> בטונות-כמה גזי חממה נפלטו לאותה מדינה באותה שנה</td>
            </tr>

        </tbody>

    </table>

</div>
<div class="row">
    <form method="post" class="col-sm-2">
        {{ form1.csrf_token }}
        <input class="btn btn-success" type="submit" name="action" value="Expand">
    </form>

    <form method="post" class="col-sm-2">
        {{ form2.csrf_token }}
        <input class="btn btn-danger" type="submit" name="action" value="Collapse">
    </form>
</div>

<div>
    {{ data | safe}}
</div>
{% endblock %}
