{% extends "layout.html" %}
{% block content %}
    <div dir="rtl">
        <div class="jumbotron">
      <h1> הסבר קבצי המידע</h1>
            <h2> הדף הזה נועד כדי להסביר על קבצי המידע שבהם הפרוייקט משתמש</h2>
        </div>
 
<div>
    <h3>שינוי אקלים היא בעייה שאם לא תטופל מסוגלת לפגוע במין האנושי קשות</h3>
    <p>
        ערים קרובות לחוף יוצפו ואולי אפילו ישקעו כנגד הים העולה.
        .נביטות של פירות וירקות ייפגעו מההחום הגדול וייתכן שלא תישאר יותר צמחייה
        סופות ושרפות שנגרמות מתנאי מזג אוויר קיצוניים יפגעו בבתים ויפצעו או יהרגו אנשים.
    </p>
    <p>
        אז איך אפשר למנוע את שינויי האקלים?
        שינוי אקלים נגרם בעיקר מפליטת גזי חממה. פחמן דו חמצני, מתאן ועוד 
        קובץ המידע הראשון שלי אסף מידע של 27 שנה של פליטות גזי חממה ממדינות ה oecd וכמה מדינות אשר אינן בארגון
        קובץ המידע הזה ייאפשר לבצע השוואות בין מדינות או לראות את שינוי פליטת גזי החממה במהלך השנים .
        וזה יאפשר לגלות איזה צעדים כדאי למדינות לנקוט כדי למנוע עלייה של פליטת וריכוז גזי חממה בכך שנסתכל על המדינות שפולטות הכי פחות.
    </p>
    <p> אך זה לבד אינו מספיק. ייתכן שמדינה פולטת מעט גזי חממה מכיון שיש לה אוכלסייה קטנה טלכן אינה צריכה הרבה חשמל
    קובץ הנתונים השני שלי מראה את כמות האוכלסייה של אותן מדינות באותם שנים של הקובץ הקודם ומאפשר השוואה בין האולכסייה של מדינה לביןן כמות הפליטה שלה
    וכך הבחינה תהייה יותר מדוייקת
    </p>
    
</div>    
    <table class="table table-bordered">
        <thead>
            <tr>
                <td> שם קובץ </td>
                <td> הסבר</td>
                <td> קישור</td>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td> פליטת גזי חממה - סטטיסטיקות OECD</td>
                <td> קובץ מידע של פליטת גזי חממה המסופק בידי ה- OECD</td>
                <td> <a href="{{ url_for('Greenhousegasdata') }}">קישור לדף מסביר</a></td>
            </tr>
            <tr>
                <td> כמות אוכלסייה במדינות </td>
                <td> כמות האוכלסייה במדינות- מסופק על ידי הא"ום</td>
                <td> <a href="{{ url_for('populationdata') }}">קישור לדף מסביר</a></td>
            </tr>
        </tbody>
    </table>       
        </div>
        {% endblock %}
