{% extends "layout.html" %}
{% block content %}
<div>
    <div class="Jumbotron">
        <h1>
            Greenhouse gas emissions data file
        </h1>
        <p> This file is a csv file which shows the greenhouse gas emissions of the OECD countries from 1990-2017 The file also shows some non-member countries in an organization such as China    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Field </th>
                <th> Explaination </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td> country</td>
                <td> what country is the row about</td>
            </tr>

            <tr>
                <td> year</td>
                <td> what year is th row about </td>

            </tr>
            <tr>
                <td> ערך</td>
                <td> how many greenhouse gas was emmited by the country at that year </td>
            </tr>

        </tbody>

    </table>

</div>
<div class="row">
    <form method="post" class="col-sm-2">
        {{ form1.csrf_token }}
        <input class="btn btn-success" type="submit" name="action" value="Expand">
    </form>

    <form method="post" class="col-sm-2">
        {{ form2.csrf_token }}
        <input class="btn btn-danger" type="submit" name="action" value="Collapse">
    </form>
</div>

<div>
    {{ data | safe}}
</div>
{% endblock %}
