{% extends "layout.html" %}
{% block content %}
<div>
    <div class="Jumbotron">
        <h1> population data file</h1>
        <p>
           = this  file is a csv file that shows population data of the countries in the other file (about the greenhouse gas emittion ) in 1990-2017
        </p>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Field </th>
                <th> Explaination </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>country </td>
                <td> what country in the row</td>
            </tr>

            <tr>
                <td> year</td>
                <td> what year in the row</td>

            </tr>
            <tr>
                <td> total population</td>
                <td>
                    How many population the state has in  total- in thousands
                    .
                </td>
            </tr>

        </tbody>

    </table>

</div>
<div class="row">
    <form method="post" class="col-sm-2">
        {{ form1.csrf_token }}
        <input class="btn btn-success" type="submit" name="action" value="Expand">
    </form>

    <form method="post" class="col-sm-2">
        {{ form2.csrf_token }}
        <input class="btn btn-danger" type="submit" name="action" value="Collapse">
    </form>
</div>

<div id="table">
    {{ datapop | safe}}
</div>
{% endblock %}
